:root {
    --main-font-family: 'Manrope', sans-serif;
}
*{
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    font-size: 20px;
    background: #F1F1F1
}

.wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dark{
    background: rgba(0, 0, 0);
    opacity: 0.28;
    pointer-events: none;
}
[class*="_content"]{
    padding: 0 145px;
}
/* Header */
.header {
    background: black;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header__content {
}

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    
}

.content-header__logo {
    color: white;
    font-size: 18px;
    font-family: var(--main-font-family);
    font-weight: 700;
}

.content-header__logo_colored {
    color: #FC5151;
}

.content-header__button {
    border: 1px solid white;
    padding: 8px 20px;
    border-radius: 2px;
    font-size: 14px;
    font-family: 700;
    font-weight: 500;
    background: transparent;
    color: white;
    cursor: pointer;

}
/* MAIN */
.main {
    flex: 1 1 auto;
}
.main__content {
    padding-top: 115px;
}
.main__title {
    margin-bottom: 55px;
}
.title-main {
    color: black;
    font-size: 24px;
    font-family: var(--main-font-family);
    font-weight: 700;
}
.tasks-main {
    display: grid;
    justify-content: space-between;
    justify-items: stretch;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.main__tasks {
}
.main-tasks__task {
}
.task {
    position: relative;
    
}
.task__input {
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 16px;
    background: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.10);
    padding-left: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    outline: none;

}
.task__input::placeholder{
    color: black;
    font-family: var(--main-font-family);
    font-weight: 500;
}
.task__button{
    background: #F1F1F1 url("../img/pencil.svg") 50% no-repeat;
    position: absolute;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 1px solid #F4C959;
    height: 100%;
    width: 15%;
    top: 0;
    right: 0;
    cursor: pointer;
}

/* Edit popup */
.edit-popup,
.create-popup {
    display: block;
    z-index: 1000;
    background: white;
    border-radius: 16px;
    position: absolute;
    top: 396px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 65px;
    height: 350px;
    width: 44%;
}
.edit-popup__title,
.create-popup__title {
    font-family: var(--main-font-family);
    font-weight: 500;
    color: black;
    margin-bottom: 60px;
}
.edit-popup__title-colored {
    color: #F4C959;
}
.create-popup__title-colored {
    color: #008180;
}
.edit-popup__subtitle,
.create-popup__subtitle {
    align-self: stretch;
}
.subtitle-edit-popup,
.subtitle-create-popup {
    margin-bottom: 55px;
}
.subtitle-edit-popup__title,
.subtitle-create-popup__title {
    font-style: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.subtitle-edit-popup__input,
.subtitle-create-popup__input {
    width: 100%;
    padding-left: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    font-family: var(--main-font-family);
    font-weight: 300;
}

.edit-popup__buttons,
.create-popup__buttons{
    align-self: flex-end;
}
.buttons-edit-popup {
    display: flex;
    gap: 15px;
}
.buttons-edit-popup__delete,
.buttons-edit-popup__save,
.buttons-create-popup__create
{
    padding: 8px 25px;
    color: white;
    font-size: 16px;
    font-family: var(--main-font-family);
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.buttons-edit-popup__delete {
    background: #FC5151;
}
.buttons-edit-popup__save {
    background: green;
}
.buttons-create-popup__create{
    background: #008180;
}